header 
    .header
        a(href="#") 
            img(src="/src/images/logo.svg", alt="logo")
        nav.nav
            ul.nav__list 
                li.nav__list-item 
                    a(href="#") Home
                li.nav__list-item 
                    a(href="#") About 
                li.nav__list-item 
                    a(href="#") Services
                li.nav__list-item 
                    a(href="#") Projects
                li.nav__list-item 
                    a(href="#") Contacts 
        .header__block 
            a(href="tel:79251294426")
                img(src="/src/images/icon-phone.svg", alt="icon phone") 
            .header__block-tel 
                p Call Us:
                a(href="tel:79251294426") +12 123 456 7890