@font-face {
  font-family: "Raleway", sans-serif;
  src: url("/src/fonts/Raleway-Regular.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Raleway", sans-serif;
  src: url("/src/fonts/Raleway-Bold.woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Raleway", sans-serif;
  src: url("/src/fonts/Raleway-SemiBold.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  font-size: 10px;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #FFF;
  color: #151515;
  font-size: 16px;
  max-width: 137rem;
  margin: 0 auto;
  padding: 0px 10px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 3;
}

section {
  margin-bottom: 120px;
}

.button {
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  background: linear-gradient(135deg, #fc80ff 0%, #fc80ff 100%);
  border-radius: 10px;
  padding: 15px 35px;
  display: inline-block;
  border: 1px solid #fff;
  transition: 0.5s;
}

.button:hover {
  color: #fc80ff;
  background: linear-gradient(135deg, #fff 0%, #fff 100%);
  border: 1px solid #fc80ff;
}

.block__info h3 {
  font-weight: 500;
  font-size: 17px;
  line-height: 176%;
  color: #fc80ff;
  margin-bottom: 10px;
}
.block__info h2 {
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 15px;
}
.block__info p {
  font-size: 16px;
  line-height: 187%;
  color: #707070;
  margin-bottom: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 30px 10px;
  background-color: #FFF;
  max-width: 137rem;
  animation-fill-mode: forwards;
  animation: 1s open-top;
}
.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.header__block-tel p {
  margin-bottom: 5px;
}
.header__block-tel a {
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px 45px;
  flex-wrap: wrap;
}
.nav__list-item a {
  color: #151515;
  font-size: 16px;
}

@keyframes open-top {
  0% {
    opacity: 0;
    transform: translate(0px, -200px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
.main-section {
  padding-top: 120px;
}
.main-section__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.main-section__top-block {
  flex-basis: 580px;
}
.main-section__top-block h2 {
  animation: 1s open-left;
  font-weight: 500;
  font-size: 17px;
  line-height: 176%;
  color: #fc80ff;
  margin-bottom: 15px;
}
.main-section__top-block h1 {
  animation: 1.5s open-left;
  font-weight: 700;
  font-size: 45px;
  color: #151411;
}
.main-section__top-block p {
  animation: 1.5s open-right;
  font-size: 16px;
  line-height: 187%;
  color: #707070;
}
.main-section__images {
  margin-top: 58px;
}
.main-section__images > img {
  width: 100%;
}
.main-section__images-play {
  text-align: center;
  margin-bottom: -58px;
}
.main-section__images-play a {
  position: relative;
  z-index: 2;
}
.main-section__images--mod {
  transition: all 0.3s ease 0s;
  animation-fill-mode: forwards;
  animation: 1.5s open-bottom;
}

@keyframes open-bottom {
  0% {
    opacity: 0;
    transform: translate(0px, 200px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes open-right {
  0% {
    opacity: 0;
    transform: translate(200px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
.transformation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px 85px;
  flex-wrap: wrap;
}
.transformation__image {
  animation: 1.5s open-left;
}
.transformation__image img {
  width: 100%;
}
.transformation__info {
  flex-basis: 575px;
}

.redefining {
  text-align: center;
}
.redefining__content {
  max-width: 950px;
  margin: 0 auto;
}

@keyframes open-left {
  0% {
    opacity: 0;
    transform: translate(-200px, 0px);
    transition: all 0.3s ease 0s;
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
.digital__content {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.digital__block:first-child {
  flex-basis: 460px;
}
.digital__block img {
  width: 100%;
}
.digital__block:last-child {
  flex-basis: 285px;
}
.digital__list-item:not(:last-child) {
  margin-bottom: 20px;
}
.digital__list-item {
  background: rgba(0, 0, 0, 0.02);
  padding: 6px 6px 4px 30px;
  border-radius: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}
.digital__list-item p {
  font-weight: 600;
  font-size: 18px;
}
.digital__list-item:hover p {
  color: #fc80ff;
  transition: 0.3s;
}
.digital__list-item:hover a path {
  fill: #fff;
  transition: 0.5s;
}
.digital__list-item:hover a rect {
  fill: #fc80ff;
  fill-opacity: 1;
  transition: 0.5s;
}
.digital__list-item:hover a svg {
  transform: rotate(-45deg);
  transition: 0.3s;
}
.digital__question {
  background-color: #fcf6f9;
  border-radius: 25px;
  margin-bottom: 30px;
  padding: 30px;
}
.digital__question p {
  font-weight: 300;
  font-size: 16px;
  line-height: 187%;
  color: #707070;
  margin-bottom: 15px;
  display: block;
}
.digital__question h3 {
  font-weight: 600;
  font-size: 18px;
  color: #151411;
  margin-bottom: 30px;
}

.portfolio img {
  width: 100%;
}
.portfolio__title {
  text-align: center;
  margin-bottom: 40px;
}
.portfolio__body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px 30px;
  flex-wrap: wrap;
}
.portfolio__info {
  flex-basis: 430px;
  background: linear-gradient(135deg, #F9E8F8 0%, #F9E8F8);
  border-radius: 30px;
  padding: 35px 40px;
}
.portfolio__info h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 159%;
  margin-bottom: 10px;
}
.portfolio__info p {
  font-size: 16px;
  line-height: 187%;
  color: #707070;
  margin-bottom: 155px;
}

.innovation__image {
  margin-bottom: 40px;
}
.innovation__image img {
  width: 100%;
}
.innovation__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.innovation__title h2 {
  font-weight: 800;
  font-size: 45px;
  text-transform: uppercase;
}
.innovation__text {
  text-align: center;
  max-width: 840px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.innovation__text p {
  font-size: 16px;
  line-height: 187%;
  color: #707070;
}
.innovation__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.innovation__buttons a {
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
}
.innovation__buttons a:first-child {
  color: #fff;
  background: linear-gradient(135deg, #fc80ff 0%, #fc80ff 100%);
  padding: 15px 77px;
  border: 1px solid #FC80FF;
}
.innovation__buttons a:first-child:hover {
  background: #fff;
  color: #fc80ff;
}
.innovation__buttons a:last-child {
  border: 1px solid #FC80FF;
  padding: 15px 35px;
  color: #fc80ff;
}
.innovation__buttons a:last-child:hover {
  background: #fc80ff;
  color: #fff;
}

.footer__body {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.footer__block:nth-child(2) {
  flex-basis: 496px;
}
.footer__block:nth-child(3) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px 100px;
  flex-wrap: wrap;
}
.footer__block h2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}
.footer__block p {
  font-size: 16px;
  line-height: 187%;
  color: #707070;
}
.footer__block-contacts a {
  font-size: 16px;
  line-height: 187%;
  color: #707070;
  display: block;
}
.footer__block-messengers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px 24px;
  flex-wrap: wrap;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  border-top: 1px solid #ddd;
  padding: 15px 0px;
  font-size: 16px;
  line-height: 187%;
  color: #707070;
}
.footer__bottom a {
  color: #707070;
}
.footer__bottom-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}/*# sourceMappingURL=style.css.map */